@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="category_headline">
    <a href="javascript:void(0);" title="Liên hệ">
        <h2>Liên hệ</h2>
        <span></span>
    </a>
</div>
<div id="contact_wrapper">
    <div class="contact_info">
        <div><span>Địa chỉ: </span> 346 Vân Đồn</div>
        <div><span>Điện thoại: </span> 0988888888</div>
        <div><span>Email: </span> <a href="mailto:manguonmo2016@gmail.com" class="link">manguonmo2016@gmail.com</a></div>
        <div><span>Website: </span> <a href="http://webdemo.vn" class="link">webdemo.vn</a></div>
    </div>
    <div class="contact_form">
        @using(Html.BeginForm())
        {
         <div class="contact_line">
            <input type="text" class="textbox" name="fullName" required autocomplete="off" placeholder="Họ và tên(*)" />
         </div>
         <div class="contact_line">
            <input type="text" class="textbox" name="phone" required autocomplete="off" placeholder="Điện thoại(*)" />
         </div>
         <div class="contact_line">
            <input type="text" class="textbox" name="email" required autocomplete="off" placeholder="Email(*)" />
         </div>
         <div class="contact_line">
            <input type="text" class="textbox" name="address" required autocomplete="off" placeholder="Address(*)"/>
         </div>
         <div class="contact_line">
            <textarea name="message" class="area"  placeholder="Nội dung(*)"></textarea>
         </div>
         <div class="contac_line">
                <input type="submit" class="contact_submit" value="Gửi" />
         </div>
        }
    </div>
</div>