@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@{
    var rootNode = Umbraco.TypedContentAtRoot();
    var sponsorItem = rootNode.DescendantsOrSelf("sponsor").First();
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Website Bất Động Sản</title>
    <link href="~/css/js-image-slider.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery.jcarousel.min.js"></script>
    <script src="~/js/js-image-slider.js"></script>
    <script src="~/js/"></script>
    <script src="~/js/site.js"></script>
    <link href="~/css/jquery.galleryview-3.0-dev.css" rel="stylesheet"/>
    <script src="~/js/jquery.galleryview-3.0-dev.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="/" title="Trang chủ"><img src="/images/logo.png" alt="Trang chủ"/></a>
        </div>
        <div id="navigation">
            <div id="hotline">
                <span class="label">Hotline: </span><span class="number">090 1234 567</span>
            </div>
            <div class="clearfix"></div>
            <div id="menu">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/">Dự án</a></li>
                    <li><a href="/">Tin tức</a></li>
                    <li><a href="/">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="middle">
        <div id="slider">
            <a href="/"><img src="/images/hungngangarden.jpg"/></a>
            <a href="/"><img src="/images/du-an-the-everrich-infinity.jpg"/></a>
        </div>
        <div id="advertising"><img src="/images/quangcao.jpg"</div>
        <div class="clearfix"></div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="rightSide">
        <div class="category_headline">
            <a href="javascript:void(0);" title="Dự án mới nhất">
                <h2>Dự án mới nhất</h2>
            </a>
            <span></span>
        </div>

        <div id="newestProject">
            <ul>
                <li>
                    <div class="thumbnail"><a href=""><img src="/images/hungngangarden.jpg" width="60p" /></a></div>
                    <div class="detail">
                        <div class="title"><a href="">Căn hộ Sài Gòn Town</a></div>
                        <div class="price">Gía: 876 triệu/div>
                        <div class="square">Diện tích: 84 m2</div>
                    </div>
                    <div class="clearfix"></div>
                </li>  
                
                <li>
                    <div class="thumbnail"><a href=""><img src="/images/hungngangarden.jpg" width="60p" /></a></div>
                    <div class="detail">
                        <div class="title"><a href="">Căn hộ Sài Gòn Town</a></div>
                        <div class="price">Gía: 876 triệu/div>
                        <div class="square">Diện tích: 84 m2</div>
                    </div>
                    <div class="clearfix"></div>
                </li>   
                
                <li>
                    <div class="thumbnail"><a href=""><img src="/images/hungngangarden.jpg" width="60p" /></a></div>
                    <div class="detail">
                        <div class="title"><a href="">Căn hộ Sài Gòn Town</a></div>
                        <div class="price">Gía: 876 triệu/div>
                        <div class="square">Diện tích: 84 m2</div>
                    </div>
                    <div class="clearfix"></div>
                </li>             
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="jcarousel_wrapper">
        <div id="jcarousel">
            <ul>
                @if (sponsorItem != null)
                {
                    var listID = sponsorItem.GetPropertyValue<string>("gallery").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                    foreach (var id in listID)
                    {
                        var image = Umbraco.TypedMedia(id);
                        var url = String.Empty;
                        if (image != null)
                        {
                            url = image.Url;
                        }
                        <li><img src="@url" width="233" height="97" /></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div id="newsletter">
    <h4 class="newsletter_title">Đăng ký nhận bản tin tổng đài nhà đất</h4>
    <div class="form_group">
        <form method="post">
            <input type="email" required="required" name="email" />
            <button type="submit">Đăng ký nhận tiện ích</button>
        </form>
    </div>
</div>
<div id="copyright">© 2016 - Bản quyền của Công Ty Cổ Phần AXYZ. Địa chỉ: Tòa nhà Lữ Gia, 170 Lữ Gia, Phường 15, Quận 11, TPHCM, Việt Nam. Giấy chứng nhận Đăng ký Kinh doanh số 11111111111 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 01/01/2016
</div>
</body>
</html>