@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}


@{
    var currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var newsItems = currentNode.Children;
}

<div class="category_headline">
    <a href="javascript:void(0);" title="D? án">
        <h2>Tin tức</h2>
        <span></span>
    </a>
</div>
<div id="news">
    <ul>
        @foreach(var item in newsItems){
            var imageId = item.GetPropertyValue<int>("thumbnail");
            var image = Umbraco.TypedMedia(imageId);
            var url = String.Empty;
            if(image !=null){
                url = image.Url;
            }
            <li>
                <div class="thumbnail">
                    <a href="@item.Url"><img src="/images/hungngangarden.jpg" width="113" /></a></div>
                <div class="content">
                    <div class="title"><a href="@item.Url">@item.Name</a></div>
                    <div class="desription">@(item.GetPropertyValue<String>("moTa"))</div></div>
                <div class="clearfix"></div>
                <div class="line"><img src="/images/line.png" /></div>
            </li>
        }
</div>