<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT trangChu ANY>
<!ATTLIST trangChu id ID #REQUIRED>
<!ELEMENT duAn ANY>
<!ATTLIST duAn id ID #REQUIRED>
]>
<root id="-1">
  <trangChu id="1093" key="80816c6b-1bd0-4cab-afae-a6bc4efb8f3e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-11-19T10:04:10" updateDate="2016-11-19T10:04:10" nodeName="Trang chu" urlName="trang-chu" path="-1,1093" isDoc="" nodeType="1091" creatorName="manguonmo2016" writerName="manguonmo2016" writerID="0" template="1081" nodeTypeAlias="trangChu">
    <duAn id="1095" key="620643e8-de9b-447c-a80b-91d70d29f018" parentID="1093" level="2" creatorID="0" sortOrder="0" createDate="2016-11-19T10:08:39" updateDate="2016-11-19T10:08:39" nodeName="Du an" urlName="du-an" path="-1,1093,1095" isDoc="" nodeType="1089" creatorName="manguonmo2016" writerName="manguonmo2016" writerID="0" template="1082" nodeTypeAlias="duAn" />
  </trangChu>
</root>